RewriteEngine On


RewriteCond %{REQUEST_URI} .*gif$|.*png$|.jpg$|.jpeg$|.ico$|.cur|.bmp|.html [NC]
RewriteCond %{REQUEST_FILENAME} !-s
RewriteRule (.*)$ $1 [NC,L]



RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]


RewriteRule ^.*$ index.php [NC,L] 